.DS_Store
*.xcodeproj/**
!*.xcodeproj/*.pbxproj

*.xcworkspace/**
!*.xcworkspace/*.xcworkspacedata

Pods
Podfile.lock
.idea

Modules/*/*.xcodeproj/**
!Modules/*/*.xcodeproj/*.pbxproj

build/*
build.output/*
pkg/*

cpd-output.*
DerivedData
build.output